<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Arquivo css-->
    <link rel="stylesheet" href="CSS/form.css">
    <title>Ajuda</title>
    </head>
    <body>
        <!--cabeçalho-->
        <div class="cabeçalho">
            <div>
                <a href="cadastro.html">
                <img id="flor-c" src="IMG/flores.png"></a>
            </div>
            <div>
                <a href="index.html"> 
                <img id="home" src="IMG/casa.png"></a>
            </div>
            <div> 
                <a href="pagamento.html">
                <img id="carrin" src="IMG/carrinho-carrinho.png"></a>
            </div>

            <div class="dropdown"> 
                <button class="dropbtn"><img id="menu" src="IMG/menu.png"></button>
                    <div class="dropdown-content">
                        <a href="#">  Home </a>
                        <a href="#">  Ajuda </a>      
                    </div>
            </div>
        </div><br>
        <!--corpo-->
        <div>
            <b>Algum problema?</b>
        </div>
        <div>
            <img id="rostotriste" src="IMG/rosto-triste-em-quadrado-arredondado.png">
        </div>
        <textarea id="textarea" rows="20" cols="45"> Suas sugestões escritas aqui 
        </textarea>
        <div id="checkbox">
            <input type="checkbox" > Login <br>
            <br>
            <input type="checkbox"> Produtos <br>
            <br>
            <input type="checkbox" > Problemas com login <br>
            <br>
            <input type="checkbox" > Compras<br>
            <br>
            <input type="checkbox" > Outros
        </div>
        <div id="email">
            <a href="alcaide676@gmail.com"> Enviar Email</a>
        </div>
    </body>
    </html>