<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Arquivo css-->
    <link rel="stylesheet" href="CSS/Style.css">
    <title>Site1</title>
    </head>
    <body>
        <div class="cabeçalho">
            <div>
                <a href="cadastro.html">
                <img id="flor-c" src="IMG/flores.png"></a>
            </div>
            <div>
                <a href="index.html"> 
                <img id="home" src="IMG/casa.png"></a>
            </div>
            <div>
                <a href="form.html">
                <img id="info" src="IMG/informacoes.png"></a>
            </div>
            <select name="Flores" id="flores-op">
                <option value="1"> Amarela </option>
                <option value="2"> Roxa </option>
                <option value="3"> Azul </option>
            </select>
            <div>
                <label>
                    <input type="text" placeholder="Pesquise" id="label">
                </label>
            </div>
            <div> 
                <a href="pagamento.html">
                <img id="carrin" src="IMG/carrinho-carrinho.png"></a>
            </div>

            <div class="dropdown"> 
                <button class="dropbtn"><img id="menu" src="IMG/menu.png"></button>
                    <div class="dropdown-content">
                        <a href="#">  Home </a>
                        <a href="#">  Ajuda </a>      
                    </div>
            </div>
        </div>

        <div class="corpo">
            <h1> Ofertas</h1>
            <div id="ofertas">
               <img src="IMG/1.png" class="imgs">
               <img src="IMG//2.png" class="imgs">
               <img src="IMG/3.png" class="imgs">
               <img src="IMG/4.png" class="imgs">
               <img src="IMG/5.png" class="imgs"> 
            </div><br>
            <br>
            <h1> Mais vendidos recentemente</h1>
            <div id="mais vendidos">
                <img src="IMG/2.png" class="imgs">
                <img src="IMG//5.png" class="imgs">
                <img src="IMG/1.png" class="imgs">
                <img src="IMG/3.png" class="imgs">
                <img src="IMG/4.png" class="imgs">
                </div><br>
            <br>
            <h1> Recomendados meio de ano</h1>
            <div id="recomendados">
                <img src="IMG/5.png" class="imgs">
                <img src="IMG//4.png" class="imgs">
                <img src="IMG/3.png" class="imgs">
                <img src="IMG/2.png" class="imgs">
                <img src="IMG/1.png" class="imgs">
                </div>
            
        </div>
    </body>
    </html>