<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Arquivo css-->
    <link rel="stylesheet" href="CSS/catálogo.css">
    <title>Catálogo</title>
    </head>
    <body>
        <div class="conteiner">
            <div id="cabeçalho">
                <div>
                    <img id="lupa" src="IMG/lupa.png">
                </div>
                <input type="text" placeholder="www.personabags.com.br" id="label">
                <div>
                    <img id="monitor" src="IMG/monitor-de-computador.png">
                </div>
                <div>
                    <img id="menu" src="IMG/menu-aberto.png">
                </div>
            </div>
            <div id="corpo1">
                <img id="personabags" src="IMG/pb.png">
                <div id="txt1-c1">
                    Persona Bags
                </div>
                <div id="txt2-c1">
                    Carregue sua personalidade com você.
                </div>
            </div>
            <hr id="hr">
            <div id="corpo2">
                <div class="outras-pag">
                    <a href="sobre.html"> SOBRE </a>
                </div>
                <div class="outras-pag">
                    <a href="catálogo.html"> CATÁLOGO </a>
                </div>
                <div class="outras-pag">
                    <a href="ajuda.html"> AJUDA </a>
                </div>
                <div class="outras-pag">
                    <a href="login.html"> LOGIN </a>
                </div>
                <div>
                    <img id="lupa2" src="IMG/lupa.png">
                </div>
            </div>
            <div id="corpo3">
                <div id="catálogo">
                    <div id="txt1-ca">
                        Catálogo
                    </div>
                    <div class="opções">
                        Mochilas
                    </div>
                    <div class="opções">
                        Bolsas
                    </div>
                    <div class="opções">
                        Estojos
                    </div>
                    <div class="opções">
                        Carteiras
                    </div>
                    <div class="opções">
                        Necessarie
                    </div>
                    <div class="opções">
                        Edição limitada
                    </div>
                </div>
                <div id="produtos">
                    <div id="linha1">
                        <div class="caixa-de-produto">
                            <img class="bolsas" src="IMG/bolsa-de-compras.png">
                            <div class="a-partir"> A partir de </div>
                            <div class="preço">
                                R$ 24,90
                            </div>
                        </div>
                        <div class="caixa-de-produto">
                            <img class="bolsas" src="IMG/bolsa-de-mulher.png">
                            <div class="a-partir"> A partir de </div>
                            <div class="preço">
                                R$ 19,90
                            </div>
                        </div>
                        <div class="caixa-de-produto">
                            <img class="bolsas" src="IMG/bolsa-de-compras.png">
                            <div class="a-partir"> A partir de </div>
                            <div class="preço">
                                R$ 39,90
                            </div>
                        </div>
                    </div>
                    <div id="linha2">
                        <div class="caixa-de-produto">
                            <img class="bolsas" src="IMG/bolsa-de-mulher.png">
                            <div class="a-partir"> A partir de </div>
                            <div class="preço">
                                R$ 26,90
                            </div>
                        </div>
                        <div class="caixa-de-produto">
                            <img class="bolsas" src="IMG/bolsa-de-compras.png">
                            <div class="a-partir"> A partir de </div>
                            <div class="preço">
                                R$ 69,90
                            </div>
                        </div>
                        <div class="caixa-de-produto">
                            <img class="bolsas" src="IMG/bolsa-de-mulher.png">
                            <div class="a-partir"> A partir de </div>
                            <div class="preço">
                                R$ 12,90
                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="corpo4">
                <div>
                    TELEFONE
                </div>
                <div>
                    SEGURANÇA
                </div>
                <div>
                    AVALIE-NOS
                </div>
                <div>
                    FALE CONOSCO
                </div>
            </div>
            <hr id="hr2">
            <!--formas geométricas-->
            <div id="c1">
            </div>
            <div id="c2">  
            </div>
            <div id="c3">   
            </div>
            <div id="c4">
            </div>
        </div>
    </body>
    </html>