<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Arquivo css-->
    <link rel="stylesheet" href="CSS/style.css">
    <title>Site2</title>
    </head>
    <body>
        <div class="conteiner">
            <div id="cabeçalho">
                <div>
                    <img id="lupa" src="IMG/lupa.png">
                </div>
                <input type="text" placeholder="www.personabags.com.br" id="label">
                <div>
                    <img id="monitor" src="IMG/monitor-de-computador.png">
                </div>
                <div>
                    <img id="menu" src="IMG/menu-aberto.png">
                </div>
            </div>
            <div id="corpo1">
                <img id="personabags" src="IMG/pb.png">
                <div id="txt1-c1">
                    Persona Bags
                </div>
                <div id="txt2-c1">
                    Carregue sua personalidade com você.
                </div>
            </div>
            <div id="corpo2">
                <div class="outras-pag">
                    <a href="sobre.html"> SOBRE </a>
                </div>
                <div class="outras-pag">
                    <a href="catálogo.html"> CATÁLOGO </a>
                </div>
                <div class="outras-pag">
                    <a href="ajuda.html"> AJUDA </a>
                </div>
                <div class="outras-pag">
                    <a href="login.html"> LOGIN </a>
                </div>
                <div>
                    <img id="lupa2" src="IMG/lupa.png">
                </div>
            </div>
            <hr id="hr">
            <div id="text1">
                O que você está procurando hoje?
            </div>
            <div id="corpo3">
                <div class="linha1">
                    <div class="imgs">
                    <img src="IMG/bolsa-de-compras.png">
                    </div>
                    <div class="txt1-c3">
                        Promoções <br> do dia
                    </div>
                </div>
                <div class="linha1">
                    <div class="imgs">
                        <img src="IMG/bolsa-de-mulher.png">
                        </div>
                        <div class="txt1-c3">
                            Novos e <br> tendências
                        </div>
                </div>
            </div>
            <div id="corpo4">
                <div class="linha2">
                    <div id="txt1-c4">
                        Mais vendidos
                    </div>   
                </div>
                <div class="linha2">
                    <div id="txt2-c4">                 
                        Mochilas e bolsas personalizadas
                    </div>   
                </div>
            </div>
            <div class="corpo5">
                <div>
                    TELEFONE
                </div>
                <div>
                    SEGURANÇA
                </div>
                <div>
                    AVALIE-NOS
                </div>
                <div>
                    FALE CONOSCO
                </div>
            </div>
            <hr id="hr2">
        
            <!--formas geométricas-->
            <div id="tr"></div>
            <div id="qu"></div>
            <div id="ci"></div>
            <div id="cr"></div>
        </div>
    </body>
    </html>