.cabeçalho{
    position: fixed;
    left: 0;
    top: 0;
    background-color: #6c4e7b;
    color: aliceblue;
    border: 2px solid rgb(0, 0, 0);
    text-align: center;
    margin-top: 0px;
    width: 100%;
    height: 91px;
    padding-top: 50px;
}

.rodape{
    text-align: center;
    position: fixed;
    left: 0px;
    margin-bottom: 0px;
    bottom:0px;
    background-color: #6c4e7b;
    color: aliceblue;
    border: 2px solid black;
    width: 100%;
    height:50px;
}

.img{
    position: relative;
    top: 135px;
    left: 194px;
    height: 560px;
    width: 1000px;
}



.vertical-menu{
    text-align: center;
    position: fixed;
    left: 0px;
    top: 142px;
    margin-left: 0px;
    background-color: #6c4e7b;
    color: aliceblue;
    border:2px solid black ;
    height: 556px;
    width: 200px;
}

.vertical-menu a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover{
    background-color: #bf97dd;
}

.vertical-menu a.active{
    background-color: rgb(132, 84, 181);
    color: white;
}



