.vertical-menu{
    width: 200px;
}

.vertical-menu a{
    background-color: #eee;
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.vertical-menu a:hover{
    background-color: #bf97dd;
}

.vertical-menu a.active{
    background-color: rgb(132, 84, 181);
    color: white;
}
