div.caixaum{
    background-color: rgb(254, 185, 185);
    width: 450px;
    padding: 60px;
    border: 15px double rgb(254, 254, 254);
    text-align: justify;
    text-indent: 1.25cm;
    bottom: -48px;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size:45px;
    
}
body{
    background-color: rgb(254, 185, 185);
    box-sizing:cover ;
}
.img{
    width: 40%;
}
.ti{
    text-transform: uppercase;
    color: white;
}
#verde{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
#rosa{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}