body{
    text-align: center;
}

.div{
    text-align: center;
    width: 1300px;
    margin-left: 90px;
}

.preto{
    text-align: center;
    position: fixed;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    width: 200px;
    height: 50px;
    margin-left: 0px;
    margin-top: -500px;
}

