ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #baffa1;
}

li{
    float:left;
}

li a,.dropbtn{
    display: inline-block;
    color:rgb(99, 89, 89);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(250, 197, 241);
}

li .dropdown{
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(243, 184, 229);
    min-width: 150px;
    box-shadow:0px 0px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a{
    color:rgb(99, 89, 89);
    padding:12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover{
    background-color: #baffa1;
}

.dropdown:hover .dropdown-content{
    display: block;
}

